@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto&display=swap');

html{

    box-sizing: border-box;

}

body{
   
    margin: 0;
    min-height: 100vh;
    background-color: #f4b41a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23143d59' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    font-family: Akaya Telivigala, Regular 400;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px ;
    background-color:rgba(46, 46, 46, 0.4);
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    
}
.quote-text{
    font-size: 2.75rem;
    color: #fff;
    

}
.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

#author{
    margin-top: 15px;
    font-size: 2.75rem;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content:end;
}

.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: silver;
    background: black;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);

}
button:hover{
    filter: brightness(110%);

}
button:active{
    transform: translate(0,0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
.twitter-button:hover{
    color: #38a1f3;
    
}
.fa.twitter{
    font-size: 1.5rem;
}


/* loder */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #707070; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/* Media Query */
@media screen and (max-width:1000px){
  .quote-container{

    margin: auto 10px;


  }
  .quote-text{
      font-size: 2.5rem;
  }
}